

body {
    width: auto;
    height: auto;
    /*background-color: rgb(10, 214, 255);*/
}

.placeSVGCircle {
    animation: placeSVGCircleAnimation 0.4s cubic-bezier(1,1.5,0.7,2);
}

@keyframes placeSVGCircleAnimation {
    0% {
        opacity: 0.1;
        transform:scale(0);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.unselectable {
    -webkit-touch-callout: none;
    user-select: none;
}


/* tabs */

.checkbox-tab-radio {
    display: none;
}
/* label */
.checkbox-tab-radio + label {
    background-color: black;
    color: white;
    cursor: pointer;
}

.checkbox-tab-radio:checked + label {
    background-color: darkolivegreen;
    color: white;
}
