

body {
    width: auto;
    height: auto;
    /*background-color: rgb(10, 214, 255);*/
}

.placeSVGCircle {
    animation: placeSVGCircleAnimation 0.4s cubic-bezier(1,1.5,0.7,2);
}

@keyframes placeSVGCircleAnimation {
    0% {
        opacity: 0.1;
        transform:scale(0);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





/* todo: univerzálnost */
/* z https://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative;
    width: 65px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 24px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 18px;
    padding: 0;
    line-height: 18px;
    font-size: 13px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Run";
    padding-left: 8px;
    background-color: #FF0000;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Edit";
    padding-right: 8px;
    background-color: #2E8DEF;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 23px;
    margin: -2.5px;
    background: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 43px;
    border: 2px solid #999999;
    border-radius: 24px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}