$tabColors: #00ff00, #ff0000, #0000ff, #ff00ff, #ffff00;


* {
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;
}

button, .button, input[type=button] {
    display: inline-block;
    margin: 1px;
    text-decoration: none;
    background: inherit;
    color: inherit;
    font-family: sans-serif;
    font-size: inherit;
    cursor: pointer;
    text-align: center;
    transition: none;
    user-select: none;
    padding: .2em;
    border: 1px solid lightgray;
}

button:focus {
    outline: none;
}
.button:focus {
    outline: none;
}

.no-border{
    border:0;
}


.placeSVGCircle {
    animation: placeSVGCircleAnimation 0.4s cubic-bezier(1,1.5,0.7,2);
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

@keyframes placeSVGCircleAnimation {
    0% {
        opacity: 0.1;
        transform: scale(0);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.unselectable {
    -webkit-touch-callout: none;
    user-select: none;
}


/* tabs */

.checkbox-tab-radio {
    display: none;
    /* label */
    + label {
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

.checkbox-tab-radio:checked + label {
    background-color: darkolivegreen;
    color: white;
}


.select-outline {
    display: none;
    stroke: black;
    fill: none;
    stroke-width: 1.8px;
    stroke-dasharray: 4;
    stroke-opacity: 0.5;
    stroke-linecap: round;
}

.selected > .select-outline {
    display: inline;
}

body {
    display: flex;
}




.page {
    height: 99vh;

    &-left {
        flex-basis: 200px;
        border-right: 1px gray solid;
        padding: 5px;
        overflow-y: auto;
    }

    &-content {
        flex: auto;
    }
}

.button {
    &-menu {
        width: 100%;
        /*background-color: black;*/
        /*color: white;*/
    }
}

.control-panel {
    &-tabs {
    }

    &-tab {
        background-color: azure;
        padding: 5px 10px;

        @each $color in $tabColors {
            $i: index($tabColors, $color);
            $len: length($tabColors);

            &:nth-child(#{$len}n + #{$i}) {
                background-color: $color;
            }
        }

        &-sub {
            background-color: white;
            color: black;
            width: 100%;

            &-selected {
                background-color: lightgray;
            }
        }
    }
}



/*#region switcher*/

label.switcher {
    user-select: none;

    > input {
        display: none;
    }

    > input[type=checkbox]:not(:checked) ~ .switcher-label-off {
        display: none;
    }

    > input[type=checkbox]:checked ~ .switcher-label-on {
        display: none;
    }
}

/*#endregion*/
